{% include 'header.html.j2' %}

<div class="px-4 py-5 my-5 text-center bg-light">
  <img class="d-block mx-auto mb-4" src="favicon.png" alt="" width="72" height="72">
  <h1 class="display-5 fw-bold">Oldal nem található</h1>
</div>

{% include 'footer.html.j2' %}
