    <footer class="footer mt-auto py-3 bg-white">
      <div class="container">
        <span class="text-muted px-1"><a href="https://github.com/ijanos/ebedke-static" class="link-secondary">Forráskód GitHubon</a></span>
        🍴
        <span class="text-muted px-1"><a href="mailto:feedback@ebed.today" class="link-secondary">visszajelzés emailben</a></span>
        🍴
        <span class="text-muted px-1"><a href="https://github.com/ijanos/ebedke" class="link-secondary">Eredeti Ebédke GitHub</a></span>
      </div>
    </footer>
    <script data-goatcounter="https://ebedke.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <noscript>
        <img src="https://ebedke.goatcounter.com/count?p=/noscript">
    </noscript>
  </body>
</html>
