<!doctype html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap_5_1_3.min.css" rel="stylesheet" integrity="sha384-TB4py3DTx27977GXs4cUhh3db0KgqzdPKr4/2EyY3oqpQKDRbNWcLvo079qpK7z5">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <title>Ebédke</title>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container d-flex flex-wrap">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for name, filename in [("Corvin", "corvin"), ("Ferenciek", "ferenciek"), ("Móricz", "moricz"), ("Széll", "szell"), ("Szépvölgyi", "szepvolgyi")] %}
                <li class="nav-item"><a href="{{ filename }}.html" class="nav-link px-2">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-4">ebéd 🍽 today</span>
          </a>
          {# TODO search
          <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="Keresés..." aria-label="Keresés">
          </form>
          #}
        </div>
      </header>
