{% include 'header.html.j2' %}

    <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 px-2 g-2">
          {% for restaurant in restaurants %}
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="container">
                   <div class="row">
                    <div class="col fs-5 align-self-center">
                      {{ restaurant.name }}
                    </div>
                    <div class="col">
                      <div class="btn-group" style="flex-wrap: wrap;" role="group">
                      {%- if restaurant.url %}      <a href="{{ restaurant.url }}" class="btn btn-outline-primary">weboldal</a>     {% endif %}
                      {%- if restaurant.facebook %} <a href="{{ restaurant.facebook }}" class="btn btn-outline-primary">facebook</a>  {% endif %}
                      {%- if restaurant.wolt %}     <a href="{{ restaurant.wolt }}" class="btn btn-outline-primary">wolt</a> {% endif %}
                      {%- if restaurant.netpincer %}<a href="{{ restaurant.netpincer }}" class="btn btn-outline-primary">netpincér</a> {% endif %}
                      {%- if restaurant.map %}      <a href="{{ restaurant.map }}"class="btn btn-outline-primary">térkép</a> {% endif %}
                      </div> {# btn-group #}
                    </div> {# col #}
                </div> {# row #}
                </div> {# container #}
               </div> {# card-body#}
             </div> {# card #}
            </div> {# col #}
        {% endfor %}
        </div>
        </div>
    </div>

    </main>

{% include 'footer.html.j2' %}
